
.sender {
  display: inline-block;
  text-align: left;
  max-width: 500px;
  margin-left: auto;
  padding: 13px 40px 13px 20px;
  background: #6AE59B;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  border-radius: 20px 20px 0px 20px;
}

.receiver {
  display: inline-block;
  max-width: 500px;
  order: 2;
  margin-right: auto;
  padding: 13px 20px 13px 40px;
  font-size: 18px;
  line-height: 21px;
  color: #2C2C2C;
  background: #DEDEDE;
  border-radius: 20px 20px 20px 0px;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.avatar > img {
  margin: 0 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}