
.main-nav {
  height: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.main-nav a {
  color: #2C2C2C; 
}
.wrapper-nav {
  display: flex;
  width: 100%;
  align-items: center;
}
.leading {
  display: flex;
  margin-right: auto;
}

.leading img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
}

.leading > .leading-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 19px;
}
.leading .leading-info__name {
  font-size: 18px;
  line-height: 21px;
  color: #2C2C2C;
}
.leading .leading-info__status {
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
}

.main-nav .refresh {
  display: flex;
  flex-direction: column;
}

.main-nav .refresh > img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px auto;
}
