.signup-container{
	width: 95%;
	text-align: center;	
}
.signup-container > form{
	margin: 0 auto;
	max-width: 500px;
}
.signup-container label{
	display: block;
	text-align: left;
}
.signup-container input{
	border: none;
	border-bottom: 1px solid #ccc;
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 10px;
	outline: none;
}
.signup-container input:focus{
	border-bottom: 1px solid #000;
}
.signup-container button{
	display: inline-block;
	padding: 15px 35px;
	color: #fff;
	background: #2C2C2C;
	transition: background .25s ease;
	cursor: pointer;
	margin: 1.4em 0;
}
.signup-container button:hover{
	background: #2C2C2C;
}

.signup-container a {
	color: #2C2C2C;
}

.photo-wrapper {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.photo-wrapper img {
	width: 50px;
	height: 50px;
	margin: 10px;
	object-fit: cover;
	border-radius: 50%;
}
.photo-wrapper img:active {
	border: 1px solid #ccc;
}