.login-container {
	max-width: 500px;
	width: 95%;
	margin: 0 auto;
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
	label{
		display: block;
		text-align: left;
	}

	input{
		border: none;
		border-bottom: 1px solid #ccc;
		display: block;
		width: 100%;
		padding: 15px;
		font-size: 14px;
		margin-bottom: 1em;
		outline: none;
		
		&:focus{
			border-bottom: 1px solid #000;
		}
	}

	button {
		display: inline-block;
		padding: 15px 35px;
		color: #fff;
		background: #2C2C2C;
		transition: background .25s ease;
		cursor: pointer;
		border: none;
		margin: 1.4em 0;
		&:hover{
			background: #2C2C2C;
		}
	}

	a {
		color: #2C2C2C;
	}

	.error-message {
		color: #f85353;
	}
}